body{
    font-family: arial;
    background-color: azure;
    box-sizing: border-box;
}

form{
    
    border-radius: 3px;
    color: #999;
    padding: 10px;
    margin: 0 auto;
    width: auto;
}

input, textarea{
    border: 0;
    outline: none;
}
.field{
    border: solid 1px #ccc;
}